/* Parametros Generales */
*{
    margin: 5px,5px,5px,5px;
    padding: 0;
    box-sizing: border-box;

}


/*Contenedor de la izquierda*/
.container-left{
    position: absolute;
    width: 99%;
    height: 99%;
    background: white;
    border-radius: 10%;
    /* border: 5px solid red; */
    background-color: rgb(182, 222, 234);

    
}
/*Parametros para la seccion del text area de la izquierda*/
.txt{
    position: absolute;
    width: 46%;
    height: 60%;
    left: 5%;
    top: 6%;
    border: none;
    color: rgb(10, 54, 111);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 25px;
    padding: 5%;
    box-sizing: border-box;
    text-align: center;
    line-height: 150%;
    background-color: white;
    box-shadow: 8px 24px 32px -3px rgba(8, 39, 82, 0.967);
    resize: none;
    text-transform: lowercase;
    
    
}


.txt::placeholder{
    color: rgb(10, 54, 111);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 25px;
    text-transform: none;
}

.txt:focus,
.txt:active{
    border:none;
    outline: none;
}

/*Parametros para la seccion de terminos*/
.terminos{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    position: absolute;
    width: 46%;
    left: 5%;
    top: 70%;
}

.terminos p{
    font-weight: 400%;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    line-height: 20px;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

/*Parametros para la seccion de los botones*/
.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 1;
    position: absolute;
    width: 56%;
    top: 80%;
    margin-right: 5px;
}

.botones:last-child{
  margin-right: 0px;
}

.btn-encriptar,.btn-desencriptar,.btn-copiar{
    align-items: center;
    justify-content: center;
    padding: 3%;
    gap: 8px;
    width: 25%;
    margin-right: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-size: 300% 100%;
    border-radius: 50px;
    transition: all .4s ease-in-out;

}

.btn-encriptar:hover,
.btn-desencriptar:hover,
.btn-copiar:hover{

    background-position: 100% 0;
    box-shadow: 0px 0px 32px 4px #04befe;
    transition: all .4s ease-in-out;
}

.btn-encriptar:focus,
.btn-desencriptar:focus,
.btn-copiar{

    outline: none;
}

.btn-encriptar,.btn-desencriptar,.btn-copiar {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 1 6px 15px 5 rgba(65, 132, 234, 0.75);
}


/*Contenedor de la parte derecha*/
.container-right{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 80%;
    left: 60%;
    top: 4%;
    background: white;
    box-shadow: 8px 24px 32px -3px rgba(8, 39, 82, 0.967);
    border-radius: 32px; 

}

/*Parametros para la seccion de avisos o alertas de la parte derecha. es donde se indica si el texto fue encriptado o no*/
.alerta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 0px;
    position: absolute;
    width: 95%;
    top: 50%;
    text-align: center;

    
    
}

.alerta h2 {
    width: 60%;
    color: rgb(10, 54, 111);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 40px;
    font-weight: bold;
    line-height: 100%;
    text-align: center;
    

  }
  
  .alerta p {
    width: 80%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    text-align: center;
    color: rgb(4, 44, 97);

  }
  
  /*Parametros para la seccion de las imagenes. estan arriba de las alertas*/
  .imagen{
    width:60%;
    height: 40%;

    margin-top: 10%;
  }

  .swal2-popup {
    font-size: 25px !important;
}

/*Parametros para la seccion de pie de pagina*/
.footer{
  position: absolute;
  top: 90%;
  height: 8%;
  width: 99%;
  justify-content: center;
  bottom: 0;
  background-color: transparent;
  border-radius: 20%;
  align-items: center;
  text-align: center;
  display: flex;
  border: 2px solid black;
  
}

.footer .contenido-footer{
  display: flex;
  color: black;
  border: 2px solid red;
}


.footer .contenido-footer a{
  font-size: 40px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 20px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75; 
}

.footer .contenido-footer a:hover{
  opacity: 0.9;
}

.footer .copyright{
  
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  color: black;
  
}


  
/* Diseño Responsivo */
  
  @media (max-width: 800px) {
    .container-left {
      display: flex;
      flex-direction: row;
    }
    .container-info {
      width: 100%;
    }
    .txt {
      width: 80%;
      height: 60%;
      left: 10%;
      top: 5%;
    }
    .terminos {
      width: 80%;
      left: 10%;
      top: 67%;
    }
    .terminos p {
      font-size: 16px;
    }
    .botones {
      width: 50%;
      left: 10%;
      top: 70%;
    }
    
    .container-right {
      width: 80%;
      height: 15%;
      left: 10%;
      top: 80%;
    }
    .alerta {
      width: 100%;
      top: 5%;
    }
    .container-right img {
      top: 0;
      display: none;
      visibility: hidden;
    }
  }

  /* Diseño Responsivo */
  
  @media  (max-width: 800px) {
    .container-left {
      display: flex;
      flex-direction: row;
      width: 95%;
      height: 98%;
    }
    .container-info {
      width: 100%;
    }
    .txt {
      width: 80%;
      height: 45%;
      left: 10%;
      top: 5%;
    }
    .terminos {
      width: 80%;
      left: 10%;
      top: 51%;
    }
    .terminos p {
      font-size: 18px;
      font-weight: bold;
      font-style: italic;
    }
    .botones {
      display: inline-block;
      justify-content: space-around;
      width: 80%;
      left: 10%;
      top: 58%;
    }
    .btn-encriptar,
    .btn-desencriptar,
    .btn-copiar {
      width: 100%;
      margin: 5px;
      border-radius: 16px;
    }
   

    .container-right {
      width: 80%;
      height: 7%;
      left: 10%;
      top: 82%;
      border: 2px solid blue;
    }
    .alerta {
      width: 100%;
      height: 90%;
      top: 4%;
      border: 2px solid red;
    }
    .alerta h2{
      font-size: 15px;
    }
    .alerta p {
      display: none;
      visibility: none;
    }
    .container-right img {
      top: 0;
      display: none;
      visibility: hidden;
    }

    .footer{
      position: absolute;
      top: 90%;
      height: 8%;
      width: 80%;
      margin-left: 5%;
      margin-right: 15%;
      bottom: 0;
      background-color: transparent;
      border-radius: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      
      
    }
    
    .footer .contenido-footer{
      text-align: center;
      color: black;
      display: flex;
      align-items: center;
    }
    
    
    .footer .contenido-footer a{
      font-size: 30px;
      color: inherit;
      border: 1px solid #ccc;
      width: 40px;
      height: 40px;
      text-align: center;
      border-radius: 50%;
      margin: 8px;
      opacity: 0.75; 
    }
    
    .footer .contenido-footer p {
      font-size: 18px; 
      margin: 0; 
    }

    .footer .contenido-footer a:hover{
      opacity: 0.9;
    }
    
    .footer .copyright{
      
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      font-style: italic;
      color: black;
      
    }

  }

  